@model List<ComidasViewModel>

<main role="main">
    <section class="jumbotron text-center menu-cardapio">
        <div class="container">
            <h1 class="jumbotron-heading">Cardápio</h1>
            <p class="lead text-muted ">Confira abaixo nossos pratos e fique atento a novidades.</p>
            <p>
                <a href="Menu" class="btn btn-secondary my-2">Menu completo</a>
                <a href="/Home/Categorias?id=1" class="btn btn-secondary my-2">Entradas</a>
                <a href="/Home/Categorias?id=2" class="btn btn-secondary my-2">Pratos principais</a>
                <a href="/Home/Categorias?id=3" class="btn btn-secondary my-2">Sobremesas</a>
                <a href="/Home/Categorias?id=4" class="btn btn-secondary my-2">Bebidas</a>
                @if (ViewBag.Tipo == "Adm")
                {
                     <a class=" btn btn-secondary my-2" asp-area="" asp-controller="Comida" asp-action="Create">Cadastrar novo prato.</a>
                }
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">

                @foreach (var item in Model)
                {

                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="img rounded" id="imgPreview" name="imgPreview" src="data:image/jpeg;base64,@item.ImageBase64" width="100%" height="225">
                            <div class="card-body">
                                <p class="card-text">@item.Descricao.</p>
                                 <p>Preço: R$@item.Preco</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a class="btn btn-sm btn-outline-secondary" href="/Carrinho/Detalhes/?idComida=@item.Id">Adcionar ao carrinho</a>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>

                 }
            </div>
        </div>
    </div>

</main>
