
@{
    ViewData["Title"] = "Sobre";
}
<!doctype html >


<h2>Sobre</h2>
<p>Neste site o cliente terá uma grande variedade de pratos no cardápio, podendo optar em escolher desde a entrada até a sobremesa <br />
	Ao selecionar o cardápio será exibido no submenu as categorias dos alimentos disponíveis além do menu completo. <br />
	Na mesma página o usuário ja poderá selecionar a quantidade do prato que desejar e efuatar a compra adicionando o produto no carrinho. <br />
	Para concluir a compra é necessario realizar um cadastro, localizado no menu do site </p>

<h3>Desenvolvedores</h3>
<p>Nome: Vitor Ra:082170031 <br />
   Nome: Silas Ra:082170028 </p>


