
@{
    ViewData["Title"] = "Index";
}


@model UsuarioViewModel

<form class="form-signin" action="/login/FazLogin">
    <div class="text-center mb-4">
        <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Faça seu Login</h1>
        <p>Caso não tenha cadastro ainda, clique <a class="nav-link" asp-area="" asp-controller="Usuario" asp-action="Create">aqui</a></p>

    </div>

    <div class="form-label-group">
        <label for="inputEmail">Email</label>
        <input type="email" name="Email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>

    </div>

    <div class="form-label-group">
        <label for="inputPassword">Senha</label>
        <input type="password" name="Senha" id="inputPassword" class="form-control" placeholder="Insira sua senha" required>

    </div>
    <span>@ViewBag.Erro</span>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2019</p>
</form>



