@model List<CarrinhoViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var precototal = 0.0;
}

<h2>Itens no carrinho</h2>

<br />

<table class="table table-responsive">
    <tr>      
        <th>Comida</th>        
        <th>Quantidade</th>
        <th>Preço item</th>
        <th>Remover item</th>
    </tr>

    @foreach (var item in Model)
    {
        
       var preco = item.Preco * item.Quantidade;
       precototal += (item.Preco * item.Quantidade);
    <tr>        
        <td>@item.Nome</td>        
        <td>@item.Quantidade</td>
        <td>R$@preco</td>
        <td><a class="btn btn-sm btn-outline-secondary" href="/Carrinho/Remover/?idComida=@item.IdComida">Remover do carrinho</a></td>
    </tr>
    }
</table>
<br />
<p>Preço total: R$@precototal</p>
<a class="btn btn-sm btn-outline-secondary" asp-area="" asp-controller="Home" asp-action="Menu">Voltar para o menu</a>