@model SistemaVenda.Models.AjustePrecoViewModel

@{
    ViewData["Title"] = "Form";
}

<h2>Ajuste de preços</h2>


<hr />
<div class="row">
    <div class="col-md-4">
		<form asp-action="Salvar">
			<input type="hidden" name="Operacao" value="@ViewBag.Operacao" />
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">

				<input type="hidden" asp-for="Id" class="form-control" />
				<span asp-validation-for="Id" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Opcao" class="control-label">Selecione uma opção</label>
				<select class="form-control" asp-for="Opcao" name="Opcao">
					<option value="aumenta"> Aumento</option>
					<option value="diminui"> Desconto</option>
				</select>
				<span asp-validation-for="Opcao" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="IdCategoria" class="control-label">Categoria</label>
				<select asp-for="IdCategoria" asp-items="ViewBag.Categorias" class="form-control"> </select>
				<span asp-validation-for="IdCategoria" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Porcentagem" class="control-label"></label>
				<input asp-for="Porcentagem" class="form-control" />
				<span asp-validation-for="Porcentagem" class="text-danger"></span>
			</div>


			<div class="form-group">
				<input type="submit" value="Cadastrar" class="btn btn-secondary" />
			</div>
		</form>

        <span class="alert">@ViewBag.Erro</span>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para cadastros</a>
</div>

