@model SistemaVenda.Models.ComidasViewModel
@{
    ViewData["Title"] = "Form";
}
<h2>Cadastro de pratos</h2>

<hr />
<div class="row">

    <form asp-action="Salvar" enctype="multipart/form-data">
        <div class="col-md-8">
            <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                
                <input type="hidden" asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCategoria" class="control-label"></label>
                <select asp-for="IdCategoria" asp-items="ViewBag.Categorias" class="form-control"> </select>
                <span asp-validation-for="IdCategoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEmbalagem" class="control-label"></label>
                <select asp-for="IdEmbalagem" asp-items="ViewBag.Embalagens" class="form-control"> </select>
                <span asp-validation-for="IdEmbalagem" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="avatar">Escolha a foto do prato:</label>
            <input type="file" name="Imagem" id="Imagem" onchange="verImagem()" class="btn btn-secondary">
            <img class="img rounded" id="imgPreview" name="imgPreview" src="data:image/jpeg;base64,@Model.ImageBase64" width="200px">
            <span asp-validation-for="Imagem" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Cadastrar" class="btn btn-secondary" />
        </div>
    </form>


</div>
<div>
    <a asp-action="Index">Voltar para cadastros</a>
</div>
